header.header
  .header_inner.container
    +logo
    +menu#topmenu.menu--header
    +btn('#cta', 'Звʼязатися з нами').btn--neutral.header_btn
    button#topmenu-btn.header_menuBtn(aria-label='Меню')
