section#about.about
  .about_inner.container
    .about_content
      span.label Про нас
      h2 Ми постачаємо рампи італійської фірми ITR USCO 🇮🇹
      .about_descr
        p
          | Компанія відома тим, що її продукція виготовляється згідно суворих стандартів якості ISO 9001 на заводах у Північній Італії.
        p
          | Кожна рампа ITR USCO, що ми пропонуємо, виготовлена з найвищою увагою до якості та безпеки. Сучасні технології та інноваційність виробництва гарантують її міцність і надійність.
        p
          | Наша пропозиція включає в себе різноманітні моделі рамп які підходять як для великого, так і малого бізнесу. І для кожного з наших клієнтів ми гарантуємо якість, підтверджуючи це 12‑місячною гарантією на кожен продукт.
    picture.about_pic
      source(media='(max-width: 420px)', srcset='../img/ramps-mobile.webp 1x, ../img/ramps.webp 2x', type='image/webp')
      source(srcset='../img/ramps.webp 1x, ../img/ramps@2x.webp 2x' type='image/webp')
      img(width='588', height='698', src='../img/ramps.png', srcset='../img/ramps.png 1x, ../img/ramps@2x.png 2x', alt='Ramps')
